.main
    & .slides
        & .first
            background-image: url(https://res.cloudinary.com/kashmir-ensueno1/image/upload/v1658326279/jannes-jacobs-KRIGA7iUN08-unsplash_lia4dy.jpg)
            height: 95vh
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            position: relative
            & .controls
                position: absolute
                padding: 1rem
                bottom: 20%
                left: 10%
        & .second
            background-image: url(https://res.cloudinary.com/kashmir-ensueno1/image/upload/v1658326616/federico-bottos-LJEsEIzcRRA-unsplash_wqmnku.jpg)
            height: 95vh
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            position: relative
            & .controls
                position: absolute
                padding: 1rem
                bottom: 20%
                left: 10%

        & .last
            background-image: url(https://res.cloudinary.com/kashmir-ensueno1/image/upload/v1658326411/hadwt-eI6haRh9u1Q-unsplash_q9asnz.jpg)
            height: 95vh
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            & .controls
                position: absolute
                padding: 1rem
                bottom: 20%
                left: 10%
@media screen and (max-width:768px) 
    .main
    & .slides
        & .first
            height: 40vh
        & .last
            height: 40vh

        
            